@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@600&family=Ubuntu+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  position: relative;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.sidebar {
  background-color: $background-sidebar;
  height: 100vh;
  width: $sidebar-width;
  padding: 40px 52px;

  position: fixed;
  top: 0;
  left: 0;

  &__logo {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 120px;

    span {
      color: #f7542e;
    }
  }

  &__menu {
    font-family: Noto Sans JP;
    font-size: 14px;
    color: #9e9e9e;

    ul {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 28px;
    }

    .active {
      color: #090f31;
    }
  }
}

.main {
  padding: 60px ($sidebar-width + 80px) 24px;
  display: flex;
  flex-direction: column;

  .title {
    color: #4f4f4f;
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 28px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 45px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: start;
      gap: 100px;

      .item {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 12px;
        min-width: 180px;

        p {
          color: #333333;
          font-family: Ubuntu Mono;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}

.footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  font-family: Ubuntu Mono;
  font-size: 12px;
  font-weight: 400;
  color: #828282;

  #credit {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #a9a9a9;

    b {
      font-weight: 700;
    }
  }
}

.btn-component {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-width: 0px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #33333333;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 500;

  &.fill {
    color: white;

    &.default {
      background: $default-color;
      color: #3f3f3f;
    }

    &.primary {
      background: $primary-color;
    }

    &.secondary {
      background: $secondary-color;
    }

    &.danger {
      background: $danger-color;
    }

    &:hover,
    &:focus {
      background-image: linear-gradient(rgb(0 0 0/0.1) 0 0);
    }

    &:disabled {
      color: #9e9e9e !important;
      background-color: #e0e0e0 !important;
      box-shadow: none;

      &:hover,
      &:focus {
        background-image: none !important;
      }
    }
  }

  &.outline {
    box-shadow: none;
    border-width: 1px;

    &.default,
    &.primary {
      border-color: $primary-color;
      color: $primary-color;
      background-color: white;

      &:hover,
      &:focus {
        background-color: $primary-hover-color;
      }
    }

    &.secondary {
      border-color: $secondary-color;
      color: $secondary-color;

      &:hover,
      &:focus {
        background-color: $secondary-hover-color;
      }
    }

    &.danger {
      border-color: $danger-color;
      color: $danger-color;

      &:hover,
      &:focus {
        background-color: $danger-hover-color;
      }
    }

    &:disabled {
      color: #9e9e9e !important;
      border-color: #e0e0e0 !important;

      &:hover,
      &:focus {
        background-image: none !important;
      }
    }
  }

  &.text {
    box-shadow: none;
    background-color: white;

    &.default,
    &.primary {
      color: $primary-color;

      &:hover,
      &:focus {
        background-color: $primary-hover-color;
      }
    }

    &.secondary {
      color: $secondary-color;

      &:hover,
      &:focus {
        background-color: $secondary-hover-color;
      }
    }

    &.danger {
      color: $danger-color;

      &:hover,
      &:focus {
        background-color: $danger-hover-color;
      }
    }

    &:disabled {
      color: #9e9e9e !important;
      background-color: white;

      &:hover,
      &:focus {
        background: none !important;
      }
    }
  }

  &.sm {
    padding: 6px 12px;
  }

  &.lg {
    padding: 11px 22px;
  }

  &.disableShadow {
    box-shadow: none;
  }
}
